/*tags$head(tags$style(
  HTML('
      .content-wrapper,
      .right-side {
        background-color: #ffffff;
      }
         '))),
*/

/*
.content-wrapper,
      .right-side {
        background-color: #ffffff;
      }
*/

/*.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}*/
