/* Fixed sidebar */

/* header */
.skin-blue .main-header .navbar {
  position: fixed;
  width:100%;
}

/* sidebar header */
.skin-blue .main-header .logo {
  position: fixed;
}

.skin-blue .main-sidebar {
  position: fixed;
  padding-top: 60px;
}

/* body */
.content-wrapper, .right-side {
  padding-top: 50px;
}
