@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 50%;
  height: 100px;
  margin-left: 25%;
  margin-top: 50px;
}

.header {
  display: flex;
  align-items:center;
}

.header img {
  float: left;
  width: 64px;
  height: 64px;
}

.header h1 {
  position: relative;
  vertical-align: middle;
  margin: 0;
  left: 15px;
}

.content {
  float: left;
}
