/* Add padding to tab contents */

@media (max-width:575.98px) {

	.tab-content>.active {
		padding-left: 5%;
		padding-right: 5%;
	}

}

@media (min-width:576px) {

	.tab-content>.active {
		padding-left: 30px;
		padding-right: 30px;
	}

}

/* Custom cols for cards/boxes with innerColumn() function */

.col-inner-4, .col-inner-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

@media (min-width: 900px) {

  .col-inner-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-inner-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}


