$navbar-background: #2fc27e;
$navbar-background-active: #1d7b4f;
$navbar-text-active: #ffffff;
$navbar-text-hover: #354e3f;
$navbar-version-background: #311b92;
$links-text: #18bc9c;

/* Navbar */
.navbar-default {
  background-color: $navbar-background;
  border-color: transparent;
}

.label-default {
  background-color: $navbar-version-background;
}

/* Active section */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: $navbar-text-active;
  background-color: $navbar-background-active;
}

/* Hover */
.navbar-default .navbar-link:hover {
  color: $navbar-text-hover;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $navbar-text-hover;
  background-color: transparent
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: $navbar-text-hover;
  background-color: transparent
}

/* Mobile Menu */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1d7b4f;
}
.navbar-default .navbar-toggle {
  border-color: #1d7b4f;
}

/* Links */
a {
  color: $links-text;
  text-decoration: none;
}
