/* Fixed sidebar */

/* Image */
.img-circle {
    border-radius: 0
}

/* Colors */

.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff;
    background-color: #48449f
}

/* Fix z-index for modals */
.main-sidebar {
    z-index: 1040;
}
