.btn-success {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: #727477;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.btn-success:hover {
  background-color: #2EC27E;
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out
}

.btn-warning,
.btn-warning:hover {
  font-size: 18px;
  font-family: inherit;
  padding: 5px 12px;
  height: 55px;
  min-width: 21.85%;
  margin: 0px 10px 14px 20px;
  text-align: left;
  color: white;
  background: #2EC27E;
  text-indent: 4px;
  vertical-align: middle;
  border-radius: 0px;
  border-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.fa {
  margin-right: 10px
}

.fa.fa-gear.opt {
  margin-right: 0px
}

.fa.fa-search-plus.opt {
  margin-right: 0px
}

section.sidebar .shiny-bound-input.action-button,
section.sidebar .shiny-bound-input.action-link {
  margin: auto;
  display: block
}

.btn-danger {
  background-color: #2EC27E;
  border-color: #2EC27E;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px
}

.btn-primary {
  background-color: darkgrey;
  border-color: darkgrey;
  color: white;
  height: 55px;
  width: 300px;
  border-radius: 0;
  position: relative;
  font-size: 18px
}

.btn-primary:hover {
  background-color: #2EC27E;
  border-color: #2EC27E;
  color: white;
  border-color: #2EC27E
}

.fa.fa-user,
.fa.fa-thumbs-o-up,
.fa.fa-flask.flask-box,
.fa.fa-spinner.spinner-box {
  color: white;
  font-size: 20;
  margin-right: 10px;
  font-size: 30px;
  vertical-align: middle
}

.skin-purple .treeview-menu > li > a {
  color: white
}

.skin-purple .treeview-menu > li:hover > a {
  color: white
}

.info-box {
  min-height: 55px;
  float: center;
  box-shadow: 5px 5px 5px lightgrey;
  border-bottom: 0px
}

.info-box-icon.bg-black {
  height: 55px
}

.bg-black {
  background-color: #727477 !important;
  height: 55px;
  line-height: 55px
}

.text-success {
  color: #2EC27E;
  font-size: large
}

.skin-purple .main-header .navbar {
  background-color: #2EC27E
}

.skin-purple .main-header .navbar .nav > li > a {
  color: #fff
}

.skin-purple .main-header .navbar .nav > li > a:hover {
  background: #ffffff;
  color: #2EC27E
}

.skin-purple .main-header .navbar .sidebar-toggle {
  color: #ffffff
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
  color: #2EC27E;
  background: #fff
}

.skin-purple .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-purple .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #2EC27E;
  border-right-width: 0
}

.main-header .logo img {
  padding-bottom: 5px
}

.modal-dialog {
  max-width: 1000px;
  border-radius: 5px;
  border: 2px solid white
}

.modal-body {
  max-height: 700px;
  align-content: center;
  border: 2px solid white;
  border-radius: 5px
}

.modal-sm {
  max-width: 1200px;
  align-content: center;
  border-radius: 5px;
  border: 2px solid white
}

.sidebar {
  height: 90vh;
  overflow-y: auto
}

.skin-purple .main-header > .logo {
  background-color: #2EC27E;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #2EC27E
}

.skin-purple .main-header > .logo:hover {
  background-color: #2EC27E
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #616365
}

.nav-tabs-custom {
  box-shadow: 5px 5px 5px lightgrey
}

.skin-purple .left-side,
.skin-purple .main-sidebar,
.skin-purple .wrapper {
  background-color: #222632
}

.skin-purple .sidebar-menu > li.active > a,
.skin-purple .sidebar-menu > li:hover > a {
  color: #fff;
  background: #222632;
  border-left-color: #2EC27E
}

.skin-purple .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2F3445;
  padding-bottom: 2px
}

.skin-purple .sidebar a {
  color: #ffffff
}

.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 400px;
  padding: 0;
  margin: 10px;
  top: 100%;
  background-color: #fefefee6;
  box-shadow: 10px 10px 10px darkgrey
}

.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #2EC27E;
  padding: 7px 10px;
  border-bottom: 1px solid #2EC27Ee6;
  color: #ffffff;
  font-size: 14px
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #000000;
  overflow: hidden;
  white-space: normal
}

.shiny-output-error {
  visibility: hidden
}

.shiny-output-error:before {
  visibility: hidden
}
