/* Tweak modal help buttons */
.modal-help-button {
  right: 40px;
  position: absolute;
  padding: 4px 10px;
  border: 0;
  top: 5px;
}

/* Improve rhandsontable overflow */
.hot-improved {
  height: auto;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Custom Widget Classes */
.side-widget {
  display: inline-block;
  vertical-align: top;
}

.side-widget-tall {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -20px;
}

.widget-sep {
  display: inline-block;
  vertical-align: top;
  width: 20px;
}

.small-action-button {
  height: 25px;
  line-height: 0;
  padding: 0 8px 0 8px;
}
