# Workflow derived from https://community.rstudio.com/t/deploying-shiny-app-with-github-actions/78436
on:
  push:
    branches: [main, master]

name: deploy-shiny

jobs:
  deploy-shiny:
    runs-on: ubuntu-latest
    env:
      SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
      SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            pkgload
            rsconnect
            here
            BH
            cpp11

      - name: Push to shinyapps.io
        run: |
          Rscript -e "rsconnect::setAccountInfo(name = 'francis888', token = Sys.getenv('TOKEN_FRANCIS'), secret = Sys.getenv('SECRET_FRANCIS'))"
          Rscript -e "rsconnect::deployApp(appName = 'biodosetools-dev', appDir = here::here(), appPrimaryDoc = 'dev/shiny-dev/app.R', appFileManifest = 'dev/shiny-dev/app_file_manifest.txt', forceUpdate = TRUE)"
